<app-ping></app-ping>
<!-- Menú de navegación -->
<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
  <div class="container">
    <a class="navbar-brand" routerLink="/" style="font-family: 'Poppins', sans-serif; font-weight: 600; color: white;">
      <i class="fa fa-cogs"></i> Mi App
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/inicioComponente" style="font-family: 'Poppins', sans-serif; font-weight: 500;">
            <i class="fa fa-home"></i> Inicio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registrar" style="font-family: 'Poppins', sans-serif; font-weight: 500;">
            <i class="fa fa-user-plus"></i> Registrar
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/acerca" style="font-family: 'Poppins', sans-serif; font-weight: 500;">
            <i class="fa fa-info-circle"></i> Acerca de
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto" style="font-family: 'Poppins', sans-serif; font-weight: 500;">
            <i class="fa fa-envelope"></i> Contacto
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lista_estudiantes" style="font-family: 'Poppins', sans-serif; font-weight: 500;">
            <i class="fa fa-users"></i> Estudiantes
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Lugar donde se cargarán dinámicamente los componentes -->
<router-outlet></router-outlet>



