/* Estilos generales */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

/* Encabezado */
.home-container header {
  background: linear-gradient(135deg, #007bff, #6610f2);
  color: white;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.home-container header h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.home-container header p {
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: 400;
}

/* Sección "¿Por qué elegirnos?" */
.home-container .img-section {
  background-size: cover;
  background-position: center;
  height: 100%;
  border-radius: 10px;
  padding: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro para mejorar contraste */
}

.home-container .img-section h2,
.home-container .img-section p {
  padding: 0 20px;
}

.home-container .img-section h2 {
  font-size: 2rem;
  font-weight: bold;
}

.home-container .img-section p {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 400;
  color: #f5f5f5; /* Blanco suave para mejor contraste */
}

/* Sección "Nuestro compromiso" */
.home-container .col-md-6 {
  padding: 20px;
}

.home-container .col-md-6 h2 {
  font-size: 2rem;
  color: #343a40;
  font-weight: bold;
}

.home-container .col-md-6 p {
  font-size: 1.2rem;
  color: #495057;
  line-height: 1.6;
}

/* Botón */
.custom-button {
  background-color: #28a745;
  border: none;
  border-radius: 25px;
  font-weight: 600;
  padding: 15px 30px;
  font-size: 1.2rem;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.custom-button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

/* Estilos para la sección de imágenes con texto */
.home-container .row {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .home-container .img-section {
    padding: 15px;
  }

  .home-container header h1 {
    font-size: 2rem;
  }

  .home-container .col-md-6 h2 {
    font-size: 1.8rem;
  }

  .home-container .col-md-6 p {
    font-size: 1rem;
  }
}
